<% provide(:title, "About") %>
<% provide(:contact, "Raghav Sood <raghav_sood@hotmail.com>") %>
<h1>Sample App</h1>
<p>
    This is the About Page for the <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
</p>
